<!DOCTYPE html>
<html lang="en">

<head>
  {{> head }}
  <title>About</title>
</head>

<body>
  {{> header }}
  <p>This site uses data from various APIs and prints outs some magic</p>

  {{> footer }}
</body>

</html>